<div class="nav-items">
    <div class="nav-item">
         <fa-icon [icon]="faDashboard"></fa-icon>
        <span> <a routerLink="/main">  Dashboard </a> </span>
    </div>
    <div class="nav-item">
       <a routerLink="/reservation"> <fa-icon [icon]="faTents"></fa-icon> Reservation</a>
      
    </div>
     <div class="nav-item">
          <a routerLink="/reclamation-add"><fa-icon [icon]="faTents"></fa-icon>Reclamation </a>

    </div>
 <div class="nav-item">
      <a routerLink="/activite"><fa-icon [icon]="faTents"></fa-icon>Activite</a>
    </div>
    <div class="nav-item">
      <a routerLink="/activite-list"><fa-icon [icon]="faTents"></fa-icon>Activite Liste</a>
    </div>
    <div class="nav-item">
      <a routerLink="/forum"> <fa-icon [icon]="faFaceSmile"></fa-icon>forum</a>
    </div>
    <div class="nav-item">
      <a routerLink="/forum-add"> <fa-icon [icon]="faFaceSmile"></fa-icon>forum Add</a>
    </div>
    <div class="nav-item">
      <a routerLink="/listfeed"> <fa-icon [icon]="faFaceSmile"></fa-icon>Mes feedbacks</a>
 
    <!-- <div class="nav-item">
        <fa-icon [icon]="faPersonHiking"></fa-icon>
        <span> Reserver une activité </span>
    </div>
     <div class="nav-item">
        <fa-icon [icon]="faComment"></fa-icon>
        <span> Forum</span>
    </div>
     <div class="nav-item">
        <fa-icon [icon]="faFaceSmile"></fa-icon>
        <span> Feedback </span>
    </div>
     <div class="nav-item">
        <fa-icon [icon]="faShoppingCart"></fa-icon>
        <span> Boutique </span>
    </div>
</div>-->
