<div class="nav-items">
    <div class="nav-item">
        <fa-icon [icon]="faDashboard"></fa-icon>
        <span>Dashboard </span>
    </div>
    <div class="nav-item">
       <a routerLink="reservation"> <fa-icon [icon]="faTents"></fa-icon> Reservation</a>
      
    </div>
     <div class="nav-item">
         <fa-icon [icon]="faExclamationTriangle"></fa-icon>
        <span> Reclamation </span>
    </div>
     <div class="nav-item">
        <fa-icon [icon]="faPersonHiking"></fa-icon>
        <span> Reserver une activité </span>
    </div>
     <div class="nav-item">
        <fa-icon [icon]="faComment"></fa-icon>
        <span> Forum</span>
    </div>
     <div class="nav-item">
        <fa-icon [icon]="faFaceSmile"></fa-icon>
        <span> Feedback </span>
    </div>
     <div class="nav-item">
        <fa-icon [icon]="faShoppingCart"></fa-icon>
        <span> Boutique </span>
    </div>
</div>
