.nav-items {
  padding-top: 40px;
}

.nav-item {
  padding: 25px 50px;
  cursor: pointer;
}

@media only screen and (max-width: 1300px) {
  .nav-item {
    padding: 25px 40px;
  }
}

.nav-item:hover {
  background-color: rgb(1, 38, 69);
}

.nav-item fa-icon {
  margin-right: 20px;
  font-size: 22px;
}

.nav-item a {
  display: inline;
  text-decoration-line: none;
  color:white;
}

@media only screen and (max-width: 1300px) {
  .nav-item a {
    display: none;
  }
}
