<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
  <title>Equipements</title>
</head>
<body>
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="content">
    <div class="side-nav">
      <app-sidenav-responsable></app-sidenav-responsable>
    </div>
    <div class="main">
      <div class="details">
        <div class="recentOrders">
          <div class="cardHeader">
            <h2>Equipements</h2>
            <button (click)="goToCreateEquipement()" class="btn">Ajouter</button>
          </div>
          <table>
            <thead>
              <tr>
                <td>Nom</td>
                <td>Prix</td>
                <td>Description</td>
                <td>Actions</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let equipement of equipements; let i = index">
                <td>
                  <span *ngIf="editIndex !== i">{{ equipement.nom }}</span>
                  <input *ngIf="editIndex === i" [(ngModel)]="equipement.nom">
                </td>
                 <td>
                  <span *ngIf="editIndex !== i">{{ equipement.prix }}</span>
                  <input *ngIf="editIndex === i" [(ngModel)]="equipement.prix">
                </td>
                <td>
                  <span *ngIf="editIndex !== i">{{ equipement.description }}</span>
                  <input *ngIf="editIndex === i" [(ngModel)]="equipement.description">
                </td>
                <td>
                  <button *ngIf="editIndex !== i" (click)="onEdit(i)" class="btn-modifier">Modifier</button>
                  <button *ngIf="editIndex === i" (click)="onSave(i)" class="btn-sauvegarder">Enregistrer</button>
                  <button (click)="onDelete(equipement.idEquipement)" class="btn-supprimer">Supprimer</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
