<div class="container" [ngClass]="{'modal-closed': !isWindowOpen}">
  <form>
    <div class="row">
      <h4>Réserver Votre Camping <button type="button" (click)="closeWindow()">Fermer</button>
</h4>
      <div class="input-group input-group-icon">
        <h6>Date d'arrivée</h6>
        <input type="Date" />
      </div>
      <div class="input-group input-group-icon">
        <h6>Date de sortie</h6>
        <input type="Date" placeholder="Date de Sortie" />
      </div>
      <div class="input-group input-group-icon">
        <select class="custom-select" name="location">
          <option value="" disabled selected>Choisir un Centre</option>
          <option>option1</option>
          <option>option2</option>
          <option>option3</option>
        </select>
      </div>
    </div>
    <div class="input-group input-group-icon">
      <select class="custom-select" name="location">
        <option value="" disabled selected>
          Choisir le type d'hébergement
        </option>
        <option>option1</option>
        <option>option2</option>
        <option>option3</option>
      </select>
    </div>
    <div class="input-group input-group-icon">
      <select class="custom-select" name="location">
        <option value="" disabled selected>Choisir vos équipements</option>
        <option>option1</option>
        <option>option2</option>
        <option>option3</option>
      </select>
      <div class="input-icon"><i class="fa fa-key"></i></div>
    </div>
  </form>
</div>
