<div class="container">
  <div class="left">
    <img src="camp.jpg" alt="Camp" class="camp-image">
  </div>
  <div class="right">
    <div class="header">
      <h2 class="animation a1">Sign Up</h2>
    </div>
    <div class="signup-container">
      <form [formGroup]="signupForm" (ngSubmit)="signup()">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" formControlName="firstName">
          <div *ngIf="signupForm.get('firstName')?.invalid && signupForm.get('firstName')?.touched" class="error-message">
            First name is required
          </div>
        </div>

        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" formControlName="lastName">
          <div *ngIf="signupForm.get('lastName')?.invalid && signupForm.get('lastName')?.touched" class="error-message">
            Last name is required
          </div>
        </div>

        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" formControlName="username">
          <div *ngIf="signupForm.get('username')?.invalid && signupForm.get('username')?.touched" class="error-message">
            Username is required
          </div>
        </div>

        <div class="form-group">
          <label for="role">Role</label>
          <select id="role" formControlName="role">
            <option value="ADMINISTRATEUR">Admin</option>
            <option value="CAMPEUR">Campeur</option>
            <option value="RESPENSABLECENTRE">Responsable</option>
          </select>
          <div *ngIf="signupForm.get('role')?.invalid && signupForm.get('role')?.touched" class="error-message">
            Role is required
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" formControlName="password">
          <p class="static-message">Password must be at least 8 characters long and contain both letters and numbers</p>
          <!-- Messages d'erreur dynamiques ici -->
          <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched" class="error-message">
            <!-- Autres messages d'erreur ici -->
            <div *ngIf="signupForm.get('password')?.errors?.['required']">Password is required</div>
            <div *ngIf="signupForm.get('password')?.errors?.['passwordInvalid']">
              Password must be at least 8 characters long and contain both letters and numbers
            </div>
          </div>
        </div>

        <button type="submit" [disabled]="signupForm.invalid">Sign Up</button>
      </form>
      <div *ngIf="signupError" class="error-message">{{ signupError }}</div>
      <p class="signup-link">You have already an account? <a [routerLink]="['/signin']">Back to Signin</a></p>
    </div>
  </div>
</div>

<div *ngIf="showWelcomeMessage" class="success-message">
  Welcome to our camping application
</div>
