<div class="card-container">
  <a routerLink="/boutiques">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/boutiqueIcon.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Boutique</h5>
        <p class="card-text">La liste des boutiques.</p>
      </div>
    </div>
  </a>

  <a routerLink="/utilisateur">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/user_icon.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Utilisateur</h5>
        <p class="card-text">La liste des utilisateurs.</p>
      </div>
    </div>
  </a>
</div>
