* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .header {
    height: 70px;
    background-color: #f0f0f0;
    /* Ajoutez d'autres styles au besoin */
  }
  
  .content {
    flex: 1;
    display: flex;
  }
  
  .side-nav {
    width: 350px;
    min-width: 230px;
    min-height: calc(100vh - 60px);
    background-color: #113c60;
    color: #fff;
    box-shadow: 5px 5px 5px #939393;
  }
  
  .main {
       margin-left: 20px;
    flex: 1;
    padding: 30px;
  }
  