.star-rating {
    font-size: 24px;
  }
  
  .star {
    cursor: pointer;
  }
  
  .star .fa-star {
    color: #ddd;
  }
  
  .star.full .fa-star {
    color: #ffc107; /* Couleur des étoiles remplies */
  }
  