<form [formGroup]="reclamationForm" (ngSubmit)="onSubmit()">
  <h1>Ajouter Réclamation</h1>
  <div>
    <select id="sujet" formControlName="sujet">
      <option value="" disabled selected>Choisissez un sujet</option>
      <option value="activité">Activité</option>
      <option value="service">Service</option>
      <option value="centre de camping">Centre de camping</option>
      <option value="sécurité">Sécurité</option>
      <option value="hébergement">Hébergement</option>
      <option value="réservation">Réservation</option>
      <option value="Autres">Autres</option>
    </select>
    <div *ngIf="reclamationForm.get('sujet')?.invalid && reclamationForm.get('sujet')?.touched">
      Le sujet est requis.
    </div>
  </div>

  <div>
    <label for="description">Description</label>
    <textarea id="description" formControlName="description"></textarea>
    <div *ngIf="reclamationForm.get('description')?.invalid && reclamationForm.get('description')?.touched">
      La description est requise.
    </div>
  </div>

  <div>
    <label for="date">Date</label>
    <input id="date" formControlName="date" type="date" />
    <div *ngIf="reclamationForm.get('date')?.invalid && reclamationForm.get('date')?.touched">
      La date est requise.
    </div>
  </div>

  <button type="submit" [disabled]="reclamationForm.invalid">Ajouter Réclamation</button>
</form>