/* Réinitialisation des styles */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
    height: 70px;
    background-color: #f0f0f0;
    /* Ajoutez d'autres styles au besoin */
  }
  
  .content {
    flex: 1;
    display: flex;
  }
  
  .side-nav {
    width: 350px;
    min-width: 230px;
    min-height: calc(100vh - 60px);
    background-color: #113c60;
    color: #fff;
    box-shadow: 5px 5px 5px #939393;
  }

.main {
  margin-left: 230px; /* Espace pour la navigation latérale */
  flex: 1;
  padding: 20px;
}

.container {
  max-width: 900px; /* Augmenter la largeur maximale du formulaire */
  margin: 0 auto; /* Centrer le formulaire */
  padding: 90px;
  margin-left: 200px;
}

.progtrckr {
  margin-bottom: 50px; /* Espace entre la barre de progression et le formulaire */
}

h4 {
  font-size: 20px; /* Réduire la taille de police */
  margin-top: 50px; /* Ajouter de l'espace en bas */
}

.input-group {
  margin-bottom: 15px; /* Ajouter un espace entre les éléments */
  
}

.input-group-icon {
  position: relative;
}

.input-group-icon select,
.input-group-icon input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
  font-size: 18px; /* Augmente la taille de la police */
}
.input-group-icon input[type="date"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
  font-size: 18px; /* Augmente la taille de la police */
}

.input-group-icon select:focus,
.input-group-icon input:focus {
  outline: none;
  border-color: #007bff;
}

.custom-select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.button-group {
  margin-top: 20px;
}

.button-group button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-group button.btn-primary {
  background-color: #007bff;
  color: #ffffff;
}

.button-group button.btn-secondary {
  background-color: #ffffff;
  color: #007bff;
  border: 1px solid #007bff;
}

ol.progtrckr {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3.5em;
}

ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
ol.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }
ol.progtrckr[data-progtrckr-steps="5"] li { width: 19%; }
ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }
ol.progtrckr[data-progtrckr-steps="8"] li { width: 12%; }
ol.progtrckr[data-progtrckr-steps="9"] li { width: 11%; }

ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 4px solid yellowgreen;
}
ol.progtrckr li.progtrckr-todo {
    color: silver; 
    border-bottom: 4px solid silver;
}

ol.progtrckr li:after {
    content: "\00a0\00a0";
}
ol.progtrckr li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    left: 50%;
    line-height: 1em;
}
ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: yellowgreen;
    height: 2.2em;
    width: 2.2em;
    line-height: 2.2em;
    border: none;
    border-radius: 2.2em;
}
ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 2.2em;
    bottom: -1.2em;
}
.notification {
  display: none;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.success {
  background-color: #4caf50;
  color: white;
}

.error {
  background-color: #f44336;
  color: white;
}
.notification.success {
  background-color: #dff0d8; /* Couleur verte */
  color: #3c763d; /* Couleur du texte */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.page-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 50px;

}

