.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    display: flex;
   
  }
  
  .card-text {
    margin-bottom: 10px;
  }
  
  .btn {
    font-size: 14px;
    padding: 6px 12px;
    cursor: pointer;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
  }
  
  .alert-info {
    background-color: #d1ecf1;
    border-color: #bee5eb;
    color: #0c5460;
    padding: 8px;
    margin-bottom: 20px;
  }

 
  .header {
    height: 70px;
    background-color: #f0f0f0;
    /* Ajoutez d'autres styles au besoin */
  }
  
  .content {
    flex: 1;
    display: flex;
  }
  
  .side-nav {
    width: 350px;
    min-width: 230px;
    min-height: calc(100vh - 60px);
    background-color: #113c60;
    color: #fff;
    box-shadow: 5px 5px 5px #939393;
  }
    .main {
      width:800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    height: 400px;
  }