<div class="container">
  <div class="left">
    <div class="header">
      <h2 class="animation a1">Welcome Back</h2>
      <h4 class="animation a2">Log in to your account using email and password</h4>
    </div>
    <div class="form">
      <form (ngSubmit)="signin()">
        <div class="form-field animation a3">
          <label for="username">Username</label>
          <input type="text" id="username" placeholder="Username" [(ngModel)]="user.username" name="username" required>
        </div>
        <div class="form-field animation a4">
          <label for="password">Password</label>
          <input type="password" id="password" placeholder="Password" [(ngModel)]="user.password" name="password" required>
        </div>
        <!-- login.component.html -->

<p class="animation a5"><a [routerLink]="['/reset-password']">Forgot Password</a></p>

        <div class="form-field animation a6">
          <button type="submit">LOGIN</button>
        </div>
      </form>
      <div *ngIf="signinError" class="error-message animation a7">{{ signinError }}</div>
      <p class="signup-link">Don't have an account? <a [routerLink]="['/signup']">Sign up here</a></p>
    </div>
  </div>
  <div class="right"></div>
</div>