<div class="container">
  <div class="form">
    <form (ngSubmit)="resetPassword()">
      <div class="form-field">
        <label for="username">Username</label>
        <input type="text" id="username" [(ngModel)]="username" name="username" required>
      </div>
      <div class="form-field">
        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required>
      </div>
      <div class="form-field">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required>
      </div>
     
      <div class="form-field">
        <button type="submit">Reset Password</button>
      </div>
    </form>
  </div>
</div>
