<!-- reclamation-list.component.html -->

<div>
  <label for="searchYear">Rechercher par année:</label>
  <input type="number" id="searchYear" name="searchYear" [(ngModel)]="searchYear">
  <button (click)="searchReclamationsByYear()">Rechercher</button>
</div>

<div class="reclamation-list">
  <h1>Liste des Réclamations</h1>
 
  <table>
    <thead>
      <tr>
        <th>Sujet</th>
        <th>Description</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reclamation of paginatedReclamations">
        <td>{{ reclamation.sujet }}</td>
        <td>{{ reclamation.description }}</td>
        <td>{{ reclamation.date | date }}</td>
        <td>
          <button (click)="editReclamation(reclamation)">Edit</button>
          <button (click)="deleteReclamation(reclamation.idReclamation)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination-controls">
    <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{ currentPage }}</span>
    <button (click)="nextPage()" [disabled]="currentPage * itemsPerPage >= reclamations.length">Next</button>
  </div>
</div>

<!-- Formulaire de modification -->
<div *ngIf="selectedReclamation">
  <h2>Modifier Réclamation</h2>
  <form (submit)="updateReclamation()">
    <div>
      <label for="sujet">Sujet:</label>
      <input type="text" id="sujet" name="sujet" [(ngModel)]="selectedReclamation.sujet" required>
    </div>
    <div>
      <label for="date">Date:</label>
      <input type="date" id="date" name="date" [(ngModel)]="selectedReclamation.date" required>
    </div>
    <div>
      <label for="description">Description:</label>
      <textarea id="description" name="description" [(ngModel)]="selectedReclamation.description" required></textarea>
    </div>
    <button type="submit">Enregistrer</button>
    <button type="button" (click)="cancelEdit()">Annuler</button>
  </form>
</div>
