<form [formGroup]="forumForm" (ngSubmit)="onSubmit()">
    <h1>Ajouter Forum</h1>
    
    <div>
      <label for="sujet">Sujet</label>
      <input id="sujet" formControlName="sujet" />
      <div *ngIf="forumForm.get('sujet')?.invalid && forumForm.get('sujet')?.touched">
        Le sujet est requis.
      </div>
    </div>
  
    <div>
      <label for="message">Message</label>
      <textarea id="message" formControlName="message"></textarea>
      <div *ngIf="forumForm.get('message')?.invalid && forumForm.get('message')?.touched">
        Le message est requis.
      </div>
    </div>
  
    <button type="submit" [disabled]="forumForm.invalid">Ajouter Forum</button>
  </form>
  