<!-- forum-list.component.html -->

<div class="forum-container">
    <h1>Liste des Forums</h1>
  
    <!-- Liste des forums avec pagination -->
    <div class="forum-list">
      <ul>
        <li *ngFor="let forum of paginatedForums">
          <div class="forum-item">
            <h3>Sujet :  {{ forum.sujet }}</h3>
         <p> message : {{ forum.message }}</p>
            <button (click)="editForum(forum)">Modifier</button>
            <button (click)="deleteForum(forum.idForum)">Supprimer</button>
          </div>
        </li>
      </ul>
    </div>
  
    <!-- Pagination controls -->
    <div class="pagination-controls">
      <button (click)="prevPage()" [disabled]="currentPage === 1">Précédent</button>
      <button (click)="nextPage()" [disabled]="currentPage * itemsPerPage >= forums.length">Suivant</button>
      <p>Page {{ currentPage }}</p>
    </div>
  
    <!-- Formulaire de modification de forum -->
    <div *ngIf="selectedForum" class="edit-container">
      <h2>Modifier Forum</h2>
      <form (ngSubmit)="updateForum()" #editForm="ngForm">
        <div>
          <label for="sujet">Sujet:</label>
          <input type="text" id="sujet" [(ngModel)]="selectedForum.sujet" name="sujet" required />
        </div>
        <div>
          <label for="message">Message:</label>
          <textarea id="message" [(ngModel)]="selectedForum.message" name="message" required></textarea>
        </div>
        <button type="submit" [disabled]="editForm.invalid">Mettre à jour</button>
        <button type="button" (click)="cancelEdit()">Annuler</button>
      </form>
    </div>
  </div>
  