<div class="header">
  <app-header></app-header>
</div>

<div class="content">
  <div class="side-nav">
    <app-sidenav-responsable></app-sidenav-responsable>
  </div>

  <div class="border-box">
    <!-- Formulaire pour ajouter un centre de camping -->
    <form (ngSubmit)="onSubmit()" #centreForm="ngForm">
        <h2>Ajouter un centre</h2>
      <div class="input-flex">
        <label class="flex-label" for="nom-input">Nom du centre:</label>
        <div class="flex-input">
          <div class="border-a bg-border-a border-a-text-number">
            <div class="border-b bg-border-b border-b-text-number"></div>
            <input type="text" id="nom-input" class="input-text-number" maxlength="45" [(ngModel)]="centreDeCamping.nom" name="nom" required>
            <div class="border-g bg-border-g border-g-text-number"></div>
          </div>
        </div>
      </div>

      <div class="input-flex">
        <label for="lieu-input" class="flex-label">Lieu:</label>
        <div class="border-a bg-border-a border-a-text-number">
          <div class="border-b bg-border-b border-b-text-number"></div>
          <input type="text" id="lieu-input" class="input-text-number" maxlength="45" [(ngModel)]="centreDeCamping.lieu" name="lieu" required>
          <div class="border-g bg-border-g border-g-text-number"></div>
        </div>
      </div>

      <!-- Image upload -->
      <div class="input-flex">
        <label for="image-upload" class="flex-label">Ajouter une image:</label>
        <input type="file" id="image-upload" class="input-text-number" (change)="onFileSelected($event)" required>
      </div>

      <div class="button-flex-center">
        <div class="border-a bg-border-a border-a-button-ok">
          <div class="border-b bg-border-b border-b-button-ok"></div>
          <button type="submit" class="button-ok">Ajouter</button>
          <div class="border-g bg-border-g border-g-button-ok"></div>
        </div>
      </div>
    </form>
  </div>
</div>
