<div class="header">
  <app-header></app-header>
</div>

<div class="content">
  <div class="side-nav">
    <app-sidenav></app-sidenav>
  </div>
  
  <div class="main">
    <p>Bienvenue dans le dashboard de {{ loggedInUser.role }}</p>
    <h2>Voici la selection de nos centres partenaires</h2>

    <div *ngIf="centresDeCamping.length > 0">
  <div class="carousel">
    <div class="carousel-inner">
      <div *ngFor="let centre of centresDeCamping; let i = index" class="carousel-item" [class.active]="i === currentIndex">
        <img class="centre-image" [src]="centre.image" alt="Image du Centre de Camping">
        <div class="centre-info">
          <h4 class="centre-nom">Nom: {{ centre.nom }}</h4>
          <h4 class="centre-lieu">Lieu: {{ centre.lieu }}</h4>
         
        </div>
  
      </div>
    </div>
    <button class="carousel-control-prev" (click)="prevSlide()">
      <span class="carousel-control-prev-icon">&larr;</span>
    </button>
    <button class="carousel-control-next" (click)="nextSlide()">
      <span class="carousel-control-next-icon">&rarr;</span>
    </button>
  </div>
      <div class="centre-info">
        <h4 class="centre-nom">Nom: {{ centresDeCamping[currentIndex]?.nom }}</h4>
        <h4 class="centre-lieu">Lieu: {{ centresDeCamping[currentIndex]?.lieu }}</h4>
       <button class="btn btn-hebergement" *ngIf="centresDeCamping[currentIndex].idCentre !== undefined" (click)="affecterFeedback(centresDeCamping[currentIndex].idCentre)">
Voir les avis 
</button>
        <div class="centre-buttons">
        </div>
      </div>
    </div>

    <div *ngIf="centresDeCamping.length === 0">
      <p>Aucun centre de camping trouvé pour cet utilisateur.</p>
    </div>

    <h2>Statistiques des Réservations</h2>
   
    <div *ngIf="centreId === null">
      <h3>Aucune donnée disponible.</h3>
    </div>
<div class="bar-chart">
  <div *ngFor="let item of chartData; let i = index" class="bar" [style.height.%]="getPercentage(item.percentage)" [style.background-color]="getBarColor(i)">
    <span class="bar-label">{{ item.name }}</span>
  </div>
</div>

<ul class="legend">
  <li *ngFor="let item of chartData; let i = index" class="legend-item">
    <div [style.background-color]="getBarColor(i)"></div>
    {{ item.name }} - {{ item.percentage | number:'1.0-0' }}%
  </li>
</ul>


</div>

















