<div class="container">
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="content">
    <div class="side-nav">
      <app-sidenav></app-sidenav>
    </div>
    <div class="main">
      <div class="notification success" id="success-notification">
        Réservation annulée avec succès
      </div>
      <div class="notification error" id="error-notification">
        Erreur lors de l'annulation de la réservation
      </div>
      <div class="reservation-header">
        <h2 class="reservation-title">Liste des réservations</h2>
        <br>
        <br>
        <br>
        <button class="add-button" routerLink="/addreservation">Ajouter</button>
      </div>
      <table class="reservation-table">
        <thead>
          <tr>
            <th>Date d'arrivée</th>
            <th>Date de sortie</th>
            <th>Nombre de personnes</th>
            <th>Lieux</th>
            <th>Statut</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reservation of paginatedReservations" class="reservation-row">
            <td>{{ reservation.dateArrivee | date: 'yyyy-MM-dd' }}</td>
            <td>{{ reservation.dateSortie | date: 'yyyy-MM-dd' }}</td>
            <td>{{ reservation.nbrPersonne }}</td>
            <td>{{ reservation.lieux }}</td>
         <td>
  <span [ngClass]="getStatusCircleClass(reservation.status)"></span>
  {{ reservation.status }}
</td>


            <td>
              <a [routerLink]="['/editreservation', reservation.idReservation]">
  <button class="edit-button" [disabled]="reservation.status === 'annulée' || reservation.status==='rejected'">Modifier</button>
</a>
              <button class="cancel-button" (click)="cancelReservation(reservation.idReservation)" [disabled]="reservation.status === 'annulée' || reservation.status==='rejected'">Annuler</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="pagination">
        <button class="page-button" (click)="previousPage()" [disabled]="currentPage === 1">Précédent</button>
        <span>{{ currentPage }} / {{ totalPages }}</span>
        <button class="page-button" (click)="nextPage()" [disabled]="currentPage === totalPages">Suivant</button>
      </div>
    </div>
  </div>
</div>
